/* Globla */
@font-face{
    font-family: MBCorpo Text;
    src: url(../font/Corporate\ A\ Light.ttf);
    /* Có thể sửa lại font sau */
}

:root{
    --main-text-color: white;
}
body, html{
    font-size: 16px;
    font-weight: 400;
    background-color: #000;
    color: var(--main-text-color);
}
/* Globla */